:root {
	--font: 'Inter', Arial, Sans-serif;
	--book: 400;
	--bold: 500;
	--black: 800;
	--lightSilhouette: rgba(255, 255, 255, 0.5);
	--darkSilhouette: rgba(0, 0, 0, 0.5);
	--notQuiteBlack: #23272A;
	--greyple: #99AAB5;
	--auroraRed: #BF616A;
	--auroraOrange: #D08770;
	--auroraYellow: #EBCB8B;
	--auroraGreen: #A3BE8C;
	--auroraPurple: #B48EAD;
	--stock: .15s;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	box-sizing: border-box;
	
	width: 100%;
	height: 100%;
	
	font-family: var(--font);
	
	background-color: var(--notQuiteBlack);
	background-image: url('img/space.svg');
	background-attachment: fixed;
	background-size: 95%;
	background-position: right center;
	background-repeat: no-repeat;
	

}

a:link, a:visited {
	text-decoration: none;
	
	border-bottom: 1px solid transparent;
	padding-bottom: 0;
	
	color: var(--auroraPurple);
	
	transition: all var(--stock) ease-in-out;
}

a:hover {
	text-decoration: none;
	
	border-bottom: 1px solid var(--auroraPurple);
	
	color: var(--auroraPurple);
}

div#wrapper {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}

/*
canvas#star-field {
	width: 100vw;
	height: 100vh;
	position: fixed;
	
	z-index: -1;
}
*/

video#star-field {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	
	z-index: -1;
}

section#menu {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	
	width: 100vw;
	height: 15vh;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	
	z-index: 0;
}

section#menu .menu-item{
	cursor: pointer;
	user-select: none;
}

section#menu div#menu-left {
	width: 25vw;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

section#menu div#menu-left img#menu-logo {
	height: 40px;
	width: 100px;
}

section#menu a {
	border: 1px solid transparent;
	
	padding: 10px 12px;
	
	font-size: 11px;
	font-weight: var(--bold);
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	
	transition: all var(--stock) ease;
}

section#menu a:hover {
	border: 1px solid var(--lightSilhouette);
	border-radius: 5px;
}

section#menu div#menu-right {
	width: 25vw;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

section {
	z-index: 0;
}

section#photos {
	margin-top: 15vh;
}

section#photos span#photos-tag {
	font-size: 10px;
	color: black;
	text-transform: uppercase;
	
	background-color: white;
	
	display: inline-block;
	
	padding: 5px 10px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

section#photos div#photos-content {
	height: 480px;
	width: auto;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	
	border: 1px solid white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


section#photos div#photos-content div#photos-slideshow {
	background-size: 100%;
	background-position: 50% 50%;
	
	height: 480px;
	width: 980px;
}

section#photos div#photos-content div#photos-slideshow img {
	height: 478px;
	width: 978px;
	
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	object-fit: cover;
}


section#press {
	margin-top: 5vh;
}

section#press span#press-tag {
	font-size: 10px;
	color: black;
	text-transform: uppercase;
	
	background-color: white;
	
	display: inline-block;
	
	padding: 5px 10px;
	margin-bottom: 2vh;
	
	border-radius: 5px;
}

section#press div#press-content {
	width: 980px;
	height: ; /* Set by jQuery */
	
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

section#press div#press-content div.press-article {
	border-left: 5px solid white;
	border-radius: 5px;
	
	height: 80px;
	width: 100%;
	
	padding-left: 20px;
	
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	
	transition: all var(--stock) ease;
	
	cursor: pointer;
}

section#press div#press-content div.press-article:hover {
	background-color: var(--darkSilhouette);
}

section#press div#press-content div.press-article h1.press-article-title {
	font-size: 20px;
	font-weight: var(--black);
	color: white;
}

section#press div#press-content div.press-article p.press-article-author-date {
	font-size: 10px;
	font-weight: var(--book);
	color: var(--greyple);
}

section.content-section {
	margin-top: 15vh;
	width: 980px;
}

section div.content-card {
	background-color: white;
	border-radius: 5px;
	
	padding: 60px;
}

section div.content-card h1 {
	font-size: 42px;
	font-weight: var(--black);
}

section div.content-card p {
	font-size: 14px;
	line-height: 1.6;
	
	margin-top: 20px;
}

section div.content-card ul {
	list-style: decimal inside none;
	margin-top: 20px;
}

section div.content-card ul li {
	font-size: 14px;
	line-height: 1.6;
}

section div.content-card h2 {
	font-size: 28px;
	font-weight: var(--bold);
	
	margin-top: 40px;
}

section div.content-card h3 {
	font-size: 21px;
	font-weight: var(--bold);
	
	margin-top: 20px;
}